<template>
  <SlpContainer class="video">
    <SlpTypography
      class="video__title"
      tag="h5"
      variant="heading2-bold"
      data-aos="fade-right"
      data-aos-duration="600"
      >{{ data.header }}</SlpTypography
    >
    <div class="video__content" data-aos="fade-left" data-aos-duration="600">
      <div class="thumbnail-bg" @click="modalHandler">
        <SlpIcon
          name="play-circle"
          variant="marketing"
          size="xl"
          class="video-block__icon"
        />
        <img
          class="thumbnail-image"
          :src="data?.thumbnail?.file?.url"
          :alt="data.header || ''"
        />
      </div>
    </div>
  </SlpContainer>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  methods: {
    modalHandler() {
      this.$emit('openModal');
    },
  },
};
</script>

<style lang="scss" scoped>
.video {
  margin: $spacing-16 auto $spacing-64;
  padding: $spacing-96 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: $breakpoint-lg) {
    margin: $spacing-8 0 $spacing-64 0;
    min-width: 100%;
    padding: $spacing-48 $spacing-16 $spacing-96;
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  &__title {
    margin: $spacing-32 0;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .thumbnail-bg {
      position: relative;
      height: 416px;
      display: flex;
      justify-content: flex-end;

      @media (max-width: $breakpoint-lg) {
        height: fit-content;
        width: 100%;
      }

      .video-block {
        &__icon {
          position: absolute;
          top: 40%;
          left: 45%;
          color: $color-text-300;
          cursor: pointer;

          @media (max-width: $breakpoint-lg) {
            top: 30%;
            left: 40%;
          }
        }
      }
    }

    .thumbnail-image {
      cursor: pointer;
      width: 100%;
      max-width: 600px;
      background-color: $color-surface-50;
      border-radius: $spacing-4 $spacing-4 200px $spacing-4;
    }
  }
}
</style>
