<script lang="ts">
import EventCard from '@/components/company/event-card.vue';

export default {
  name: 'Events',
  components: {
    EventCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section
    :data-aos="data.aos_animation"
    :data-aos-duration="data.aos_duration"
    data-aos-once="true"
    data-aos-easing="ease-in"
  >
    <SlpRow>
      <SlpColumn class="slp-flex slp-flex-column">
        <SlpIcon
          v-if="data.icon"
          class="slp-pt-16 slp-mb-24"
          :name="data.icon.name"
          :alt="data.icon.alt"
          size="lg"
          :variant="data.icon.variant"
        />
        <SlpTypography
          v-if="data.header"
          tag="h2"
          variant="heading2-bold"
          class="header slp-mb-8"
          :class="{ 'has-icon': data.icon }"
          >{{ data.header }}
        </SlpTypography>
        <SlpTypography
          v-if="data.description"
          tag="div"
          variant="heading5"
          class="description subtitle"
          ><span v-html="$md.render(data.description)"></span
        ></SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="event_container">
      <SlpColumn
        v-for="event in data.events"
        :key="event.title"
        class="event"
        :class="data.text_align"
      >
        <EventCard
          class="event-card"
          :heading="event.heading"
          :icon="event.icon"
          :date="event.date"
          :event-type="event.event_type"
          :destination-url="event.destination_url"
          :button-text="event.button_text"
        />
      </SlpColumn>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
$video-height: 315px;

section {
  position: relative;
  padding-top: $spacing-64;
}

.full-background {
  background-color: #f8f8f8;
  margin: 0 calc(50% - 50vw) $spacing-48 calc(50% - 50vw);
  box-sizing: border-box;
  padding: 0 calc(50vw - 50%) $spacing-48;
}

.description {
  margin-bottom: 42px;
}

.event_container {
  display: flex;
  justify-content: space-between;
  gap: 0 32px;

  @media (max-width: $breakpoint-md) {
    .event:first-of-type {
      margin-bottom: $spacing-24;
    }
  }
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  margin: $spacing-48 auto 0 auto;
  max-width: 100%;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr !important;
  }
}
</style>
