<script lang="ts">
import Vue from 'vue';
import {
  Benefits,
  Copy,
  CopyForm,
  CopyMedia,
  Faq,
  FeaturedMedia,
  LinkCards,
  NextStep,
  PullQuote,
  SideNavigationVariant,
  Table as SlpTable,
  CTA as SolutionsCallToAction,
} from '../../common/index.vue';
import {
  CaseStudyTabs,
  EducationCaseStudyCarousel,
  EducationFeatureTiers,
  EducationPricing,
  EducationStats,
  EduSurveyCopyMedia,
} from '../../../components/solutions/education/index.vue';
import {
  CaseStudies,
  ImageCard,
  SolutionsCarouselVideos,
  SolutionsHero,
} from '../../../components/solutions/index.vue';

export default Vue.extend({
  name: 'EducationTemplate',
  components: {
    Benefits,
    CaseStudyTabs,
    NextStep,
    CopyForm,
    EducationFeatureTiers,
    EducationPricing,
    EducationCaseStudyCarousel,
    EducationStats,
    PullQuote,
    FeaturedMedia,
    EduSurveyCopyMedia,
    LinkCards,
    Copy,
    ImageCard,
    CaseStudies,
    SolutionsCallToAction,
    CopyMedia,
    SolutionsCarouselVideos,
    SlpTable,
    Faq,
    SolutionsHero,
    SideNavigationVariant,
  },
  props: {
    solutions: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="education-template">
    <SlpContainer>
      <component
        :is="component.name"
        v-for="(component, i) in solutions.components"
        :key="i"
        :data="component.data"
        v-bind="component"
      >
        <slot v-if="component.slot_enabled">
          <component
            :is="subcomponent.name"
            v-for="(subcomponent, item) in component.slot_content"
            :key="item"
            v-bind="subcomponent"
          >
            <slot v-if="subcomponent.slot_enabled">
              <component
                :is="contents.name"
                v-for="(contents, subitem) in subcomponent.slot_content"
                :key="subitem"
                v-bind="contents"
              />
            </slot>
          </component>
        </slot>
      </component>
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep entry-id="5NdpwAWyi3o2qf9FZtq68v" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
div[role='main'] {
  overflow: clip;
}

.education-template {
  &:deep .side-navigation__wrapper {
    margin-top: 0;
  }
}
</style>
