<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TopicsCards',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="slp-flex slp-flex-column slp-align-items-center">
    <SlpTypography tag="h3" variant="heading3" class="slp-mb-24">{{
      data.subtitle
    }}</SlpTypography>
    <div class="container slp-mb-64">
      <div v-for="card in data.cards" :key="card.title" class="card">
        <div class="icon">
          <nuxt-img
            class="icon__image"
            :src="card.icon"
            alt=""
            loading="lazy"
            format="webp"
            quality="99"
          />
        </div>
        <div class="card__content">
          <SlpTypography tag="h4" variant="heading4" class="title">{{
            card.title
          }}</SlpTypography>
          <a
            :href="card.url"
            :data-ga-name="card.data_ga_name"
            :data-ga-location="card.data_ga_location"
            class="description slp-text-base"
            >{{ card.description }}</a
          >
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px 50px;
  width: 80%;
  margin: 0 10%;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 50px rgba($color-surface-700, 0.08);
  min-width: 289px;
  border-radius: $spacing-4;
  &__content {
    padding: $spacing-32;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 165px;
    .title {
      color: $color-text-300;
    }

    .description {
      color: $color-text-link-100;
      font-weight: 600;
      &:after {
        position: absolute;
        content: '→';
        padding-top: 2px;
        padding-left: $spacing-4;
        width: 9px;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icon {
    width: 100%;
    height: 195px;

    &__image {
      width: 100%;
      height: 195px;
      transition: all 0.2s ease-in-out;
      border-bottom: 1px solid $color-surface-200;
      border-radius: $spacing-4;
    }
  }
}
</style>
