<script>
export default {
  name: 'CaseStudy',
  props: {
    data: {
      type: Object,
      default: null,
    },
  },
};
</script>

<template>
  <div>
    <SlpContainer>
      <div class="platform-case-study__row">
        <div class="slp-pt-lg-96 slp-pt-64">
          <div class="platform-case-study__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="33"
              height="28"
              viewBox="0 0 33 28"
              fill="none"
            >
              <path
                d="M7.52 27.8C5.06667 27.8 3.2 26.8667 1.92 25C0.64 23.1333 0 20.5733 0 17.32C0 13.5333 0.933333 10.2 2.8 7.32C4.66667 4.44 7.52 2.06667 11.36 0.199997L13.92 5.32C11.52 6.49333 9.70667 7.90666 8.48 9.56C7.30667 11.16 6.72 13.1333 6.72 15.48C6.82667 15.4267 6.96 15.4 7.12 15.4C7.28 15.4 7.41333 15.4 7.52 15.4C9.22667 15.4 10.6667 15.9333 11.84 17C13.0667 18.0133 13.68 19.4267 13.68 21.24C13.68 23.2133 13.0933 24.8133 11.92 26.04C10.7467 27.2133 9.28 27.8 7.52 27.8ZM26.48 27.8C24.0267 27.8 22.16 26.8667 20.88 25C19.6 23.1333 18.96 20.5733 18.96 17.32C18.96 13.5333 19.8933 10.2 21.76 7.32C23.6267 4.44 26.48 2.06667 30.32 0.199997L32.88 5.32C30.48 6.49333 28.6667 7.90666 27.44 9.56C26.2667 11.16 25.68 13.1333 25.68 15.48C25.7867 15.4267 25.92 15.4 26.08 15.4C26.24 15.4 26.3733 15.4 26.48 15.4C28.1867 15.4 29.6267 15.9333 30.8 17C32.0267 18.0133 32.64 19.4267 32.64 21.24C32.64 23.2133 32.0533 24.8133 30.88 26.04C29.7067 27.2133 28.24 27.8 26.48 27.8Z"
                fill="#171321"
              />
            </svg>

            <div
              class="platform-case-study__quote slp-mb-md-64"
              v-html="$md.render(data.quote)"
            ></div>
          </div>
        </div>
        <div class="platform-case-study__stats slp-pt-md-64 slp-pt-lg-96">
          <div
            v-for="stat in data.stats"
            :key="stat.header"
            class="platform-case-study__stat"
          >
            <SlpTypography tag="p" variant="heading2-bold">
              {{ stat.header }}</SlpTypography
            >
            <SlpTypography tag="span" variant="body3-bold">
              {{ stat.text }}</SlpTypography
            >
          </div>
        </div>
        <div>
          <div class="platform-case-study__author">
            <div
              v-if="data.authorHeadshot"
              class="platform-case-study__author-headshot"
            >
              <img :src="data.authorHeadshot" />
            </div>
            <div>
              <div>
                <SlpTypography tag="span" variant="body3-bold">
                  {{ data.author }}</SlpTypography
                >
                <SlpTypography tag="span" variant="body3">
                  {{ data.authorTitle }}</SlpTypography
                >
              </div>
              <div class="platform-case-study__logo">
                <img :src="data.companyLogo" />
              </div>
            </div>
          </div>
          <SlpButton
            class="platform-case-study__button slp-mt-32"
            variant="tertiary"
            :href="data.cta.externalUrl"
            :data-ga-name="data.cta.dataGaName"
            :data-ga-location="data.cta.dataGaLocation"
          >
            {{ data.cta.text }}
            <SlpIcon
              name="chevron-right"
              variant="product"
              size="md"
              class="platform-case-study__button-icon"
            />
          </SlpButton>
        </div>
      </div>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.platform-case-study {
  &__author {
    display: flex;
  }
  &__author-headshot {
    flex: 0 0 66px;
    max-width: 66px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__icon {
    svg path {
      fill: #fff;
    }
  }
  &__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-right: 64px;
    :deep strong {
      background-color: $color-text-link-100;
    }
  }
  &__stats {
    margin-top: 32px;
    margin-bottom: 48px;

    @media (min-width: $breakpoint-md) {
      grid-column: 2;
      grid-row: 1 / span 2;
      margin-bottom: 0;
    }
  }
  &__stat {
    padding: 24px 0;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    &:first-of-type {
      border-top: 1px solid rgb(255 255 255 / 25%);
    }
  }
  &__author-headshot {
    margin-right: 16px;
  }
  &__logo {
    height: 32px;
    margin-top: 12px;
    img {
      height: 100%;
      width: auto;
      filter: brightness(0) invert(1);
    }
  }
  &__button {
    color: #fff;
  }
  &__row {
    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: 75% 25%;
    }
  }
}
</style>
