<script>
import Vue from 'vue';
import highlight from './highlight';

export default Vue.extend({
  props: {
    textArray: {
      type: Array,
      required: true,
    },
    typingDelay: {
      type: Number,
      required: false,
      default: 30,
    },
    newLineDelay: {
      type: Number,
      required: false,
      default: 10,
    },
    language: {
      type: String,
      required: false,
      default: 'javascript',
    },
    fontStyle: {
      type: String,
      required: false,
      default: 'code',
    },
  },
  data() {
    return {
      textArrayIndex: 0,
      charIndex: 0,
      typedText: '',
      lineCount: 0,
      isTyping: false,
      timeout: null,
      isFinished: false,
    };
  },
  watch: {
    textArray() {
      this.charIndex = 0;
      this.textArrayIndex = 0;
      this.typedText = '';
      clearTimeout(this.timeout);

      this.timeout = setTimeout(() => {
        this.type();
      }, this.newLineDelay + 250);
    },
  },
  mounted() {
    // Check for content to be typed
    if (this.textArray.length) {
      // Call the type() function
      this.timeout = setTimeout(() => {
        this.type();
      }, this.typingDelay + 250);
    }
  },
  beforeUnmount() {
    // Clear timeout to avoid memory leaks
    clearTimeout(this.timeout);
  },
  methods: {
    type() {
      // Check if there are characters available to type in the current line
      if (this.charIndex < this.textArray[this.textArrayIndex].length) {
        // Add typing styles
        this.isTyping = true;

        // Select the current character
        const char = this.textArray[this.textArrayIndex].charAt(this.charIndex);

        // Classify character for syntax highlighting
        this.typedText += highlight(char, this.language, true);

        // Recursively call the typing function for the next character to be typed
        this.charIndex++;
        this.timeout = setTimeout(() => {
          this.type();
        }, this.typingDelay);
      } else {
        // Add a new line because there are no more characters to add to the current line,
        this.isTyping = false;
        this.timeout = setTimeout(() => {
          this.addNewLine();
        }, this.newLineDelay);
      }
    },
    addNewLine() {
      // Add a break line
      this.typedText += '\n';
      this.textArrayIndex++;
      this.lineCount++;

      // Check if the desired line limit is reached
      if (this.lineCount >= this.numberOfLines) {
        // Set the desired line limit here
        this.isTyping = false;
        this.isFinished = true;
        return;
      }

      // Check for more lines to be typed from the textArray
      if (this.textArrayIndex < this.textArray.length) {
        this.charIndex = 0;
        this.timeout = setTimeout(() => {
          this.type();
        }, this.typingDelay + 1100);
      } else {
        // Pause for 1 second
        this.timeout = setTimeout(() => {
          // Emit this finished event when there are no more lines to type
          this.$emit('finished-typing');
        }, 1000);
      }
    },
  },
});
</script>

<template>
  <pre
    v-if="fontStyle === 'code'"
    :key="textArray[0]"
    class="wrapper"
    :class="{ typing: isTyping }"
    v-html="typedText"
  ></pre>
  <div
    v-else
    :key="textArray[0]"
    class="wrapper"
    :class="{ typing: isTyping }"
    v-html="typedText"
  ></div>
</template>

<style lang="scss" scoped>
.wrapper {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
}

.wrapper.typing::after {
  content: '|';
  opacity: 1;
  animation: blink 1s infinite;
}

:deep .comment {
  color: $color-primary-100;
}

:deep .keyword {
  color: #7dc1ff;
}

:deep .operator {
  color: #e373ff;
}

:deep .bracket {
  color: #ff9f69;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
</style>
