<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Tab',
  props: {
    text: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true,
    },
    dataGaName: {
      type: String,
      required: true,
    },
    dataGaLocation: {
      type: String,
      required: true,
    },
  },
});
</script>

<template>
  <router-link
    class="btn__tab"
    :to="{ path: '', hash: href }"
    :data-ga-name="dataGaName"
    :data-ga-location="dataGaLocation"
    >{{ text }}
  </router-link>
</template>

<style lang="scss" scoped>
.btn__tab {
  border: 2px solid transparent;
  height: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-text-link-100;
}

p > a:not(.slp-btn):hover,
li a:not(.slp-btn):hover {
  text-decoration: none;
}
</style>
