<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DevExCards',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div id="cards-container" :class="data.customFields?.class?.container">
    <SlpContainer>
      <SlpTypography
        variant="heading4-bold"
        tag="h4"
        class="slp-mt-64 animated"
        >{{ data.header }}</SlpTypography
      >
      <SlpRow class="cards-row">
        <div
          v-for="(card, index) in data.card"
          :key="index"
          :cols="4"
          class="cards slp-mt-32"
        >
          <div class="card">
            <div>
              <SlpTypography
                variant="heading5-bold"
                tag="h5"
                class="slp-mb-16"
                >{{ card.fields.title }}</SlpTypography
              >
              <SlpTypography variant="body1" tag="p" class="slp-mb-24">{{
                card.fields.description
              }}</SlpTypography>
            </div>

            <SlpButton
              variant="tertiary"
              :href="card.fields?.button?.fields?.externalUrl"
              :data-ga-name="card.fields?.button?.fields.dataGaName"
              :data-ga-location="card.fields?.button?.fields.dataGaLocation"
            >
              {{ card.fields?.button.fields.text }}
              <SlpIcon variant="product" name="chevron-lg-right"
            /></SlpButton>
          </div>
        </div>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
#cards-container {
  .cards-row {
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      justify-content: center;

      .card {
        max-width: 100%;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: center;
  }
  .card {
    background: $color-surface-50;
    border: 1px solid $color-surface-200;
    padding: $spacing-32;
    transition: all 0.3s ease-in-out;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      border-bottom-right-radius: 100px;
    }
  }
}
</style>
