<script lang="ts">
import Vue from 'vue';

interface cards {
  name: string;
  description?: string;
  url: string;
}

interface link {
  text: string;
  url: string;
}

export default Vue.extend({
  name: 'Integrations',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    items: {
      type: Array as Vue.PropType<cards[]>,
      required: true,
    },
    callToAction: {
      type: Object as Vue.PropType<link>,
      default: () => ({}),
      required: false,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpTypography variant="h1"> {{ title }} </SlpTypography>
    <SlpTypography variant="heading5-bold" tag="h2">
      {{ description }}
    </SlpTypography>
    <SlpRow>
      <SlpColumn v-for="item in items" :key="item.name" :cols="6">
        <SlpCard :link="item.url">
          {{ item.name }}
          {{ item.description }}
        </SlpCard>
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn v-if="Object.keys(callToAction).length === 0" :cols="12">
        <SlpButton :link="callToAction.url" variant="primary">
          {{ callToAction.text }}
        </SlpButton>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>
