<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NavBanner',

  props: {
    currentLocale: {
      required: true,
      default: '',
      type: String,
    },
  },
  data() {
    return {
      content: null,
    };
  },

  async fetch() {
    const content = (await this.$content(
      this.currentLocale === 'en-us'
        ? `/nav-banner`
        : `${this.currentLocale}/nav-banner`,
    ).fetch()) as any;
    this.content = content;
  },
});
</script>

<i18n src="../../content/nav-banner.yml" lang="yaml"></i18n>

<template>
  <a
    :href="content.url"
    :data-ga-name="content.data_ga_name"
    :data-ga-location="content.data_ga_location"
  >
    <div class="banner">
      <nuxt-img
        preload
        class="slp-ml-24 banner_image"
        src="/nuxt-images/banner/stars-left.svg"
        alt=""
      />
      <SlpTypography class="banner_title" variant="body2-bold"
        >{{ content.title }}
      </SlpTypography>
      <SlpButton variant="tertiary" class="cta"
        >{{ content.cta }}
        <SlpIcon
          class="slp-ml-8 arrow-icon"
          variant="product"
          name="arrow-right"
      /></SlpButton>
      <nuxt-img
        preload
        class="banner_image"
        src="/nuxt-images/banner/stars-right.svg"
        alt=""
      />
    </div>
  </a>
</template>

<style lang="scss" scoped>
.banner {
  background: radial-gradient(
    59.78% 45.32% at 31.69% 94.07%,
    rgb(88, 40, 84),
    rgb(55, 37, 76)
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @media (min-width: 835px) {
    height: 52px;
  }
  .cta {
    color: $color-text-50;
    font-size: 16px;
    text-decoration: underline;
    padding: 18px;
    font-weight: 400;
    @media (max-width: 835px) {
      padding: 0;
      margin-left: 0;
      margin-top: $spacing-8;
    }
  }
  &_title {
    color: $color-text-50;
    padding: $spacing-16 0;
    @media (max-width: 835px) {
      padding: 0;
    }
  }

  &_image {
    margin-right: $spacing-8;
  }

  @media (max-width: 945px) {
    &_image {
      display: none;
    }
  }

  @media (max-width: 835px) {
    background-color: $color-surface-900;
    flex-direction: column;
    align-items: initial;
    padding: $spacing-16;

    &_title {
      color: $color-text-50;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &:hover {
    .slp-btn-tertiary .slp-icon {
      transform: translateX(8px);
    }
  }
}
</style>
