<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Cities,
  ConductBanner,
  Hero,
  WorldTourForm,
} from '~/components/events/world-tour/index.vue';
import { Faq as FAQ, NextStep } from '~/components/common/index.vue';

import { getPageMetadata } from '~/common/meta';
import { FooterEditLinkMixin } from '~/mixins';
import { WorldTourEventsService } from '~/services/events/world-tour-events.service';

export default {
  name: 'WorldTour',
  components: {
    Hero,
    Cities,
    WorldTourForm,
    ConductBanner,
    NextStep,
    FAQ,
  },
  mixins: [FooterEditLinkMixin],

  nuxtI18n: false,
  async asyncData({ $worldTourEventsService }: any) {
    try {
      const { content, spaceId, entryId } = await (
        $worldTourEventsService as WorldTourEventsService
      ).getLandingContent();
      return { content, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head(): MetaInfo {
    return {
      ...getPageMetadata((this as any).content.metadata, this.$route.path),
    };
  },
};
</script>
<template>
  <div>
    <Hero v-if="content.hero" v-bind="content.hero" />
    <Cities v-if="content.regions" :regions="content.regions" />
    <WorldTourForm
      v-if="content.form && content.form.formId"
      v-bind="content.form"
    />
    <FAQ
      v-if="content.faq"
      :data="content.faq"
      active-header="DevSecOps World Tour"
    />
    <ConductBanner v-if="content.banner" v-bind="content.banner" />
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
