<script lang="ts">
import Vue from 'vue';
import { AosAnimationsMixin, LocalizedHrefMixin } from '~/mixins';
import { generateLayoutMeta } from '~/common/meta';

export default Vue.extend({
  mixins: [LocalizedHrefMixin, AosAnimationsMixin],
  head() {
    return generateLayoutMeta(this.$route.path, this.$i18n.locale);
  },
});
</script>

<template>
  <div>
    <Nuxt role="main" />
    <SlpFooter />
  </div>
</template>
