<script>
import { AosAnimationsMixin, LocalizedHrefMixin } from '../mixins';
import SummitNavigationHOC from '~/components/navigation/summit.vue';
import { NAV_CONTENT_TYPES } from '../common/content-types';
import { convertToCaseSensitiveLocale } from '../common/util';
import { getNavigationClient } from '~/plugins/contentful';

export default {
  name: 'SummitNavigation',
  components: { SummitNavigationHOC },
  mixins: [LocalizedHrefMixin, AosAnimationsMixin],
  data() {
    return {
      footer: {},
      contentfulEntryUrl: '',
    };
  },
  async fetch() {
    const footerEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.FOOTER,
      'sys.id': 'QxdoqHd5ixKTwFjIHYvYI',
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [footer] = footerEntry.items;

    this.footer = footer;
  },

  created() {
    this.$nuxt.$on('contentfulIds', (data) => {
      const { spaceId, entryId } = data;
      if (spaceId !== undefined && entryId !== undefined) {
        this.contentfulEntryUrl = `https://app.contentful.com/spaces/${spaceId}/entries/${entryId}`;
      }
    });
  },
};
</script>

<template>
  <div>
    <SummitNavigationHOC />

    <div ref="localizedContainer">
      <Nuxt role="main" />
    </div>
    <SlpMinimizedFooter
      :contentful-footer-data="footer"
      :contentful-entry-url="contentfulEntryUrl"
    />
  </div>
</template>
