<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'MicrositeFooterCta',
  props: {
    data: {
      type: Object,
      required: true,
    },
    partner: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <article class="next-steps">
    <SlpRow>
      <SlpColumn :cols="6" size="lg">
        <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-8">
          {{ data.heading }}
        </SlpTypography>
        <SlpTypography tag="p" variant="heading5" class="slp-mb-24">
          {{ data.tagline }}
        </SlpTypography>
        <SlpTypography
          v-if="data.leftColumnCtaText"
          tag="p"
          variant="heading5-bold"
          class="slp-mb-16"
        >
          {{ data.leftColumnCtaText }}
        </SlpTypography>
        <div v-if="data.leftColumnButtons" class="buttons">
          <SlpButton
            v-for="button in data.leftColumnButtons"
            :key="button.text"
            variant="primary"
            :href="button.url"
            :data-ga-name="button.dataGaName"
            :data-ga-location="button.dataGaLocation"
          >
            {{ button.text }}
          </SlpButton>
        </div>
      </SlpColumn>
      <SlpColumn :cols="6" size="lg" class="slp-flex">
        <div class="vertical-line" />
        <div>
          <div class="logos">
            <nuxt-img
              :class="`gitlab ${partner ? 'has-partner' : ''}`"
              src="/nuxt-images/free-trial/free-trial-nav-logo.svg"
              width="160px"
              format="webp"
              quality="99"
            />
            <div v-if="partner" class="partner-logo-wrapper">
              <img :src="partner.logo" :alt="partner.alt" />
            </div>
          </div>
          <div v-if="data.rightColumnTaglines" class="taglines">
            <div
              v-for="tag in data.rightColumnTaglines"
              :key="tag.header"
              class="tag"
            >
              <SlpTypography tag="h3" variant="body1-bold">
                {{ tag.header }}
              </SlpTypography>
              <SlpTypography tag="div" variant="body1">
                <div v-html="$md.render(tag.text)" />
              </SlpTypography>
            </div>
          </div>
        </div>
      </SlpColumn>
    </SlpRow>
  </article>
</template>

<style lang="scss" scoped>
.next-steps {
  padding: 96px 0;

  @media (max-width: $breakpoint-md) {
    padding: 64px 0 96px 0;
  }

  .vertical-line {
    display: none;
    @media (min-width: $breakpoint-lg) {
      height: 100%;
      display: block;
      border-left: 2px solid $color-surface-200;
      margin-right: 96px;
      margin-left: 96px;
    }
  }

  .buttons {
    .slp-btn:first-of-type {
      margin-right: 16px;
    }

    @media (max-width: $breakpoint-md) {
      .slp-btn {
        width: 100%;
        justify-content: center;

        &:first-of-type {
          margin-bottom: 16px;
        }
      }
    }
  }

  .logos {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 24px;

    @media (max-width: $breakpoint-md) {
      margin-top: 48px;
    }

    .gitlab {
      padding-right: 20px;
      border-right: 2px solid transparent;
    }

    .gitlab.has-partner {
      border-color: #74717a;
    }

    .partner-logo-wrapper {
      position: relative;
      object-fit: contain;

      img {
        display: block;
        max-height: 70px;
        max-width: 100px;
      }
    }
  }

  .taglines .tag {
    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }
}
</style>
