<script lang="ts">
interface Card {
  title: string;
  iconName: string;
  description: string;
}

export default {
  props: {
    card: {
      type: Array<Card>,
      required: true,
    },
    header: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <div class="slp-mt-64 why-container">
    <SlpTypography
      class="slp-mt-32 slp-pt-4"
      variant="heading2-bold"
      tag="h2"
      :data-aos="'fade-up'"
      :data-aos-duration="1200"
      :data-aos-offset="200"
      >{{ header }}
    </SlpTypography>
    <SlpRow class="container">
      <div
        v-for="(item, index) in card"
        :key="index"
        class="card"
        :data-aos="'fade-up'"
        :data-aos-duration="800"
        :data-aos-offset="200"
      >
        <SlpIcon
          :name="item.iconName"
          color="white"
          variant="marketing"
          size="md"
        />
        <SlpTypography
          class="slp-pb-16 slp-pt-8"
          variant="heading5-bold"
          tag="p"
          >{{ item.title }}</SlpTypography
        >
        <div class="description" v-html="$md.render(item.description)" />
      </div>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
* {
  color: white;
}

.why-container {
  margin-bottom: 192px;
}

.description {
  color: #a2a1a6;
}

.container {
  gap: 44px;
  padding-top: 32px;
}

.card {
  width: calc(50% - 22px);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>
