<script lang="ts">
import Vue from 'vue';
import { CtfCard } from '../../models/content-types.dto';

export default Vue.extend({
  name: 'DemoVideo',
  props: {
    card: {
      type: Object as () => CtfCard,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpColumn :cols="4" class="card">
    <a :href="card.button.fields.externalUrl" class="card__wrapper">
      <div class="card__content">
        <div class="card__video">
          <img class="card__image" :src="card.image.fields.file.url" />
          <div class="card__icon">
            <SlpIcon
              name="play"
              variant="product"
              size="32"
              color="surface-300"
            />
          </div>
        </div>
        <SlpTypography
          tag="p"
          variant="body2"
          class="slp-pb-16 slp-pt-24 card__text"
        >
          {{ card.subtitle }}
        </SlpTypography>
        <SlpTypography
          tag="h4"
          variant="heading5-bold"
          class="slp-pb-16 card__text"
        >
          {{ card.title }}
        </SlpTypography>
      </div>
      <SlpButton variant="tertiary"
        >{{ card.button.fields.text }}
        <SlpIcon name="chevron-lg-right" variant="product" />
      </SlpButton>
    </a>
  </SlpColumn>
</template>

<style lang="scss" scoped>
.card {
  padding: $spacing-32;
  border: 1px solid #f6f3fe;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  flex: 1 1 0;

  &:hover {
    background: #f6f3fe;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__content {
    flex-grow: 1;
  }

  &__video {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    background: $color-surface-700;
    display: inline-block;
    border-radius: 999px;
    padding: $spacing-8;
  }

  &__text {
    color: $color-text-300;
  }
}
</style>
