<script lang="ts">
import Vue from 'vue';
import CodeSuggestionsSalesFormWrapper from './code-suggestions-sales-form-wrapper.vue';
import { UseLocalizedVideoSubtitles } from '~/mixins';
import VideoModal from '~/components/solutions/video-modal.vue';

export default Vue.extend({
  name: 'CodeSuggestionsSalesContent',
  components: { CodeSuggestionsSalesFormWrapper, VideoModal },
  mixins: [UseLocalizedVideoSubtitles],
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    video: {
      type: Object,
      required: false,
      default: null,
    },
    form: {
      type: Object,
      required: true,
      default: null,
    },
    button: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data: () => ({
    showModal: false,
  }),
  methods: {
    onFormSubmit() {
      this.$emit('submit');
    },
    openModal() {
      this.showModal = true;
    },
  },
});
</script>

<template>
  <section class="code-suggestions-sales-content">
    <SlpContainer
      variant="light-purple-100"
      class="code-suggestions-sales-content__container"
    >
      <SlpRow class="code-suggestions-sales-content__row">
        <SlpColumn :cols="6">
          <div class="code-suggestions-sales-content__wrapper">
            <div
              v-if="video?.thumbnail?.fields?.image?.fields?.file?.url"
              class="code-suggestions-sales-content__video"
            >
              <div style="position: relative" @click="openModal()">
                <img
                  id="video-container__image"
                  class="thumbnail-image"
                  :src="video?.thumbnail?.fields?.image?.fields?.file?.url"
                />
              </div>
            </div>
            <div class="code-suggestions-sales-content__text-block">
              <SlpTypography
                v-if="data?.header"
                tag="div"
                variant="body2-bold"
                class="slp-mb-8 slp-mt-16"
              >
                {{ data?.header }}
              </SlpTypography>
              <div
                v-if="data?.text"
                class="code-suggestions-sales-content__text"
                v-html="$md.render(data?.text)"
              ></div>
            </div>

            <SlpButton
              v-if="button?.externalUrl || button?.text"
              :href="button?.externalUrl"
              variant="primary"
              :data-ga-name="button?.dataGaName"
              :data-ga-location="button?.dataGaLocation"
              class="slp-mt-32 slp-mb-64 code-suggestions-sales-content__button"
            >
              <SlpIcon
                :icon="button?.iconName"
                :variant="button?.iconVariant"
                size="md"
                class="slp-mr-8"
              />
              {{ button.text }}
            </SlpButton>
          </div>
        </SlpColumn>
        <SlpColumn :cols="6">
          <CodeSuggestionsSalesFormWrapper
            data-aos="fade-up"
            data-aos-duration="750"
            :data="form"
            @submit="onFormSubmit"
          />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
    <VideoModal
      v-show="showModal && video?.url"
      light-background
      :visible="showModal"
      @close="showModal = false"
    >
      <template #body>
        <iframe
          :src="createVideoSource(video?.url)"
          title="Video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </template>
    </VideoModal>
  </section>
</template>

<style lang="scss" scoped>
.code-suggestions-sales-content {
  &__video {
    width: 100%;

    .thumbnail-image {
      cursor: pointer;
      width: 100%;
    }
    @media (min-width: $breakpoint-md) {
      margin-top: 174px;
    }
  }
  &__wrapper {
    // padding-right: $spacing-96;
    @media (min-width: $breakpoint-md) {
      padding-right: $spacing-96;
    }
  }
  &__container {
    padding-bottom: $spacing-96;
    @media (min-width: $breakpoint-md) {
      padding-bottom: $spacing-96;
    }
  }
  &__row {
    margin-top: -140px;
    @media (min-width: $breakpoint-md) {
      margin-top: -256px;
    }
  }
  &__button {
    background-color: transparent;
    color: $color-primary-200;
    width: 100%;
    text-align: center;
    justify-content: center;
    @media (min-width: $breakpoint-md) {
      width: auto;
    }
    &:hover,
    &:focus {
      color: $color-primary-300;
      background: $color-primary-200;
    }
  }
  :deep {
    .slp-col-md-6 {
      width: 100%;
    }
  }
  &__list {
    padding: $spacing-24;
    @media (min-width: $breakpoint-md) {
      padding: 0;
    }
  }
  &__note {
    color: $color-surface-500;
    margin-top: auto;
    font-style: italic;
  }
  &__text-block {
    padding: 24px;
    margin-bottom: 32px;
    @media (min-width: $breakpoint-md) {
      padding: 0;
    }
  }
  &__text {
    &:deep(p) {
      margin: 24px 0 8px 0;
      strong {
        font-weight: 600;
      }
    }
    &:deep(ul) {
      padding-left: 32px;
      margin: 16px 0;

      li {
        margin-top: 8px;
        position: relative;

        &:before {
          content: url('/nuxt-images/icons/list-check-dark.svg');
          position: absolute;
          top: 3px;
          left: -30px;
        }
      }
    }
    &:deep(em) {
      color: $color-surface-500;
      font-size: 14px;
    }
    &:deep {
      > :last-child {
        margin-top: 0;
      }
    }
  }
}
</style>
